// app/layout.styl

@import '../_variables'
@import '../_mixins'


// you styles here:
body
  background white

.container
  max-width 480px
  margin auto

@font-face {
  font-family: 'fontawesome';
  src:url('/fonts/fontawesome82497.eot');
  src:url('/fonts/fontawesome82497.eot?#iefix') format('embedded-opentype'),
    url('/fonts/fontawesome82497.woff') format('woff'),
    url('/fonts/fontawesome82497.ttf') format('truetype'),
    url('/fonts/fontawesome82497.svg#fontawesome') format('svg');
  font-weight: normal;
  font-style: normal;
}

.logotype {
  font-family: fontawesome;
}

.subject {
  font-weight: bold;
}

.amount {
  font-size: 1.3em;
}

.amount, .currency, .roulette-headline {
  font-family: Georgia, Palatino, serif;
  line-height: 1;
}

.transactions img {
  height: 40px;
  width: 40px;
}

section {
  padding-left: 10px;
  padding-right: 10px;
}

footer {
  margin-bottom: 20px;
}

.panel-heading-rhs, .list-group-link-rhs {
  float: right;
}

.list-group-link-rhs:after {
  content: " \3e";
  font-family: 'fontawesome';
}

.list-group-media {
  margin-top: 0;
}

.roulette-headline {
  font-size: 6.8em;
  text-align: center;
}

.roulette-no-neighbors {
  text-align: center;
  margin-bottom: 20px;
}
