section.page.balance
  .panel.panel-default
    .panel-heading.clearfix
      span.subject(data-hook='ower')
      = ' '
      span.verb(data-hook='verb')
      .panel-heading-rhs
        span.currency= '$ '
        span.amount(data-hook='total')
    .list-group(data-hook='balances')
  footer
    a.btn.btn-primary.btn-block(data-hook='owe') Owe @
      span(data-hook='ower')

