section.page.home
  div.list-group
    each balance in balances
      - var ower = balance.key[0]
      - var link = '/balances/' + ower
      a.list-group-item.list-group-link(href=ower)
        span.subject= '@' + ower
        span.verb= ' ' + verb + ' '
        div.list-group-link-rhs= balance.value.toFixed(2)
footer
  a.btn.btn-primary.btn-block(href='/owe') Owe someone