section.page.transactions
  .panel.panel-default
    .panel-heading.clearfix
      a(data-hook='subjectLink') @
        span(data-hook='subject')
      = ' owes '
      a(data-hook='objectLink') @
        span(data-hook='object')
      .panel-heading-rhs
        span.currency= '$ '
        span.amount(data-hook='total')
    .list-group(data-hook='transactions')
  footer
    a.btn.btn-primary.btn-block(data-hook='owe') Owe @
      span(data-hook='owee')
