extends layout

block bundlejs
  | !{cachify_js('/bundle.js', { defer: true, async: true })}
  script.
    window.addEventListener('DOMContentLoaded', function() {
      if ('iouMain' in window) {
        iouMain();
      } else {
        window.iouReady = true;
      }
    });
