- var prefix = 'CDN_URL' in locals.env ? locals.env.CDN_URL + '/' : '/';

doctype html
script
  include pegasus.min.js
script(src=prefix + locals.jsFileName)
link(rel='stylesheet', href=prefix + locals.cssFileName)
