.subject {
  font-weight: bold;
}
.amount {
  float: right;
  font-size: 1.3em;
  font-family: Georgia, Palatino, serif;
  line-height: 1;
}
.list-group-item.media {
  margin-top: 0;
}
.transactions img {
  height: 40px;
  width: 40px;
}
section, footer {
  padding-left: 10px;
  padding-right: 10px;
}
footer {
  margin-bottom: 20px;
}
a.list-group-item:after {
  content: "\\203A";
  font-family: monospace;
  font-size: 2em;
  font-weight: 100;
  line-height: 1;
  position: absolute;
  right: 0px;
  top: 50%;
  margin-top: -16px;
}
