.balance-row-rhs
  float right
  margin-right -23px

.balance-header
  text-align center

.subject
  font-weight bold

.amount
  font-size 1.3em

.amount, .currency, .roulette-headline
  font-family Georgia, Palatino, serif
  line-height 1

.transaction
  padding-right 15px;

.transaction-link
  margin-right -15px !important;

.transaction-avatar
  height 42px
  width 42px

.transaction-right
  text-align right

.roulette-headline
  font-size 6.8em
  text-align center

.roulette-no-neighbors
  text-align center
  margin-bottom 20px
