a.list-group-item.media.list-group-link.list-group-media(data-hook='transaction')
  img.media-object(data-hook='image')
  .media-body(data-hook='body')
    div(data-hook='text')
    small.text-muted &mdash;
      = ' '
      span(data-hook='ower')
      = ' '
      time(data-hook='timestamp')
