a.list-group-item.media.list-group-link.list-group-media(role='transaction')
  img.media-object(role='image')
  .media-body(role='body')
    div(role='text')
    small.text-muted &mdash;
      = ' '
      span(role='ower')
      = ' '
      time(role='timestamp')
