a.list-group-item.list-group-link(data-hook='balance')
  span.verb(data-hook='prefix-verb')
  = ' '
  span.subject @
    span(data-hook='subject')
  = ' '
  span.verb(data-hook='suffix-verb')
  = ' '
  div.list-group-link-rhs
    span.currency= '$ '
    span.amount(data-hook='amount')
